<div class="py-1">
    <div class="input-group w-100">
        <input type="text" class="form-control" id="txtSearch" style="width:50%;" placeholder="Buscar">
        <div class="input-group-append">
            <button class="btn btn-warning" type="button" onclick="fnBusqueda()">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>
    </div>
</div> <!-- search-wrap .end// -->

