<h5 class="title">Numero de usuarios logueados</h5>
<p class="text-muted">
    @ViewBag.NumerosDeUsuariosLogueados
</p>
<br />
<h5 class="title">Numero de usuarios registrados</h5>
<p class="text-muted">
    @ViewBag.NumerosDeUsuariosRegistrados
</p>
<br />
<h5 class="title">Numero de usuarios que compraron</h5>
<p class="text-muted">
    @ViewBag.NumeroDeUsuariosQueHicieronCompras
</p>