<div class="card-body">
    <div class="row no-gutters align-items-center">
        <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
        </div>
        <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-gray-800"> &nbsp; @(String.Format("{0:C2}", ViewBag.TotalVenta))</div>
        </div>
    </div>
</div>